@import '../../styles/_variables.scss';

.jumbotron {
    padding: 60px;
    display: flex;
    margin-bottom: 30px;
    background-size: 100%;
    background-position: bottom;
    background-repeat: repeat-x no-repeat, no-repeat no-repeat;
    background-color: $primary;
}

.container {
    margin-top: auto;
}

.content {
    h1 {
        color: $white;
    }
    h2 {
        color: $white;
        font-weight: 700;

    }
    p {
        color: $white;
        font-weight: 400;
    }
}

.hasImage {
    @media (min-width: 767px) {
        height: 550px;
    }
}