@import '../../styles/_variables.scss';

.jumbotron {
    padding: 60px;
    height: 550px;
    display: flex;
    background-size: 100%;
    background-position: bottom;
    background-repeat: repeat-x no-repeat, repeat repeat;
}

.container {
    margin-top: auto;
}

.content {
    h2 {
        color: $white;
        font-weight: 700;

    }
    p {
        color: $white;
        font-weight: 400;
    }
}