.wntrSplitBlock {
    margin-bottom: 30px;
    article {
        margin-top: auto !important;
        margin-bottom: auto !important;
    }
    img {
        max-width: 100%;
        @media (max-width: 767px) {
            margin-bottom: 30px;
        }
    }
}