.footer {
    background-color: $secondary;
    color: $white;
    a {
        color: $white;
        text-decoration: none;
    }
    h4 {
        font-size: 16px;
        font-weight: bold;
    }
    dl {
        dt {
            margin-bottom: 5px;
        }
        dd {
            margin-bottom: 15px;
        }
    }
}