$primary: #BF1D2E;
$secondary: #54595F;

$font-family-sans-serif: Montserrat;
$font-family-base: $font-family-sans-serif !default;

$link-color: $secondary;

// navbar
$navbar-nav-link-padding-x: 30px;