$primary: #BF1D2E;
$secondary: #54595F;
$white: #FFFFFF;

$font-family-sans-serif: "poppins", sans-serif; //200, 400, 700
$font-family-base: $font-family-sans-serif !default;

$link-color: $secondary;

// navbar
$navbar-nav-link-padding-x: 30px;